In [2]:
import yfinance as yf

In [3]:
# ticker = "BBAS3"
ticker = "BBDC4"
period = "5d"
ticker_obj = yf.Ticker(f"{ticker}.SA")

In [4]:
ticker_obj

yfinance.Ticker object <BBDC4.SA>

In [5]:
ticker_obj.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-02-25 00:00:00-03:00,11.700215,11.790063,11.630332,11.750131,33494400,0.000000,0.0
2025-02-26 00:00:00-03:00,11.879910,11.919843,11.460619,11.520518,51824900,0.000000,0.0
2025-02-27 00:00:00-03:00,11.530502,11.600383,11.410704,11.450637,40713100,0.000000,0.0
2025-02-28 00:00:00-03:00,11.430670,11.460619,11.191075,11.221025,84387200,0.000000,0.0
2025-03-05 00:00:00-03:00,11.221025,11.530502,11.221025,11.450637,41379800,0.000000,0.0
2025-03-06 00:00:00-03:00,11.420000,11.630000,11.290000,11.550000,44187500,0.018975,0.0
2025-03-07 00:00:00-03:00,11.480000,11.800000,11.420000,11.690000,29808500,0.000000,0.0
2025-03-10 00:00:00-03:00,11.560000,11.620000,11.420000,11.520000,42234700,0.000000,0.0
2025-03-11 00:00:00-03:00,11.530000,11.550000,11.270000,11.450000,43087500,0.000000,0.0
2025-03-12 00:00:00-03:00,11.460000,11.520000,11.330000,11.450000,31708500,0.000000,0.0
2025-03-13 00:00:00-03:00,11.460000,11.720000,11.390000,11.650000,35174100,0.000000,0.0
2025-03-14 00:00:00-03:00,11.720000,12.200000,11.690000,12.130000,42086800,0.000000,0.0
2025-03-17 00:00:00-03:00,12.140000,12.410000,12.130000,12.310000,23901600,0.000000,0.0
2025-03-18 00:00:00-03:00,12.340000,12.400000,12.220000,12.300000,19650500,0.000000,0.0
2025-03-19 00:00:00-03:00,12.300000,12.530000,12.220000,12.410000,25791100,0.000000,0.0
2025-03-20 00:00:00-03:00,12.410000,12.490000,12.240000,12.350000,31369300,0.000000,0.0
2025-03-21 00:00:00-03:00,12.380000,12.590000,12.360000,12.520000,74318800,0.000000,0.0
2025-03-24 00:00:00-03:00,12.540000,12.730000,12.470000,12.650000,44562300,0.000000,0.0
2025-03-25 00:00:00-03:00,12.700000,13.290000,12.650000,13.020000,54118300,0.000000,0.0

In [6]:
ticker_obj.history(period=period)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-03-19 00:00:00-03:00,12.30,12.53,12.22,12.41,25791100,0.0,0.0
2025-03-20 00:00:00-03:00,12.41,12.49,12.24,12.35,31369300,0.0,0.0
2025-03-21 00:00:00-03:00,12.38,12.59,12.36,12.52,74318800,0.0,0.0
2025-03-24 00:00:00-03:00,12.54,12.73,12.47,12.65,44562300,0.0,0.0
2025-03-25 00:00:00-03:00,12.70,13.29,12.65,13.02,54118300,0.0,0.0

In [7]:
def retorna_cotacao(ticker, period="1mo"):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=period)["Close"]
    hist.index = hist.index.strftime("%Y-%m-%d")
    hist = round(hist, 2)
    # limitar em 30 resultados
    if len(hist) > 30:
        slice_size = int(len(hist) / 30)
        hist = hist.iloc[::-slice_size][::-1]
    return hist.to_json()

In [8]:
hist = retorna_cotacao("BBAS3", "1y")
hist

'{"2024-03-27":25.74,"2024-04-09":26.85,"2024-04-19":25.48,"2024-05-02":25.48,"2024-05-14":25.76,"2024-05-24":24.9,"2024-06-06":25.43,"2024-06-18":24.58,"2024-06-28":25.17,"2024-07-10":25.08,"2024-07-22":25.58,"2024-08-01":24.85,"2024-08-13":25.89,"2024-08-23":27.03,"2024-09-04":27.77,"2024-09-16":27.55,"2024-09-26":26.5,"2024-10-08":26.02,"2024-10-18":25.74,"2024-10-30":25.43,"2024-11-11":25.08,"2024-11-25":24.83,"2024-12-05":25.04,"2024-12-17":24.17,"2025-01-02":23.67,"2025-01-14":24.39,"2025-01-24":26.34,"2025-02-05":27.54,"2025-02-17":28.86,"2025-02-27":27.67,"2025-03-13":27.49,"2025-03-25":28.55}'